@charset "utf-8";

.banner_field{
    background-image: url("img/doctor_schedule_banner.png");
    margin-top: 19px;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    text-align: center;
    font-size: 35px;
    line-height: 265%;
}
.steps{
    margin-left: 15px;
}
.non_active{
    color: #BDBDBD;
}
.other_step:hover{
    color: black !important;
}
.message {
    text-align: center;
}
.schedule{
    border-radius: 5px;
    background-color: #F8F5F8;
    padding: 20px;
    box-shadow: 5px 5px 10px #000000;
    box-sizing: content-box;
    width: 50%;
    margin: 30px auto;
}
.form-select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.schedule_form_flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;    
}
.check_box_date{
    flex: 30%;
    margin: 5px 0px;
    box-sizing: content-box;    
    width: 30%;
}
input[type=checkbox]{
    width: 10%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline;
    margin: 15px -1% 0px;
}
.time_label{
    display: block;
    margin: 0;
}
.submit_wrapper{
    text-align: center;
}
input[type=submit]{
    width: 40%;
    font-size: 16px;
    background-color: #017C83;
    color: white;
    padding: 10px 15px;
    margin: 26px auto 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input[type=submit]:hover{
    background-color: #01886f;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (min-width: 768px) {
    input[type=checkbox]{
        margin: 15px -3% 0px;
    }
}