@charset "utf-8";

.banner_field{
    background-image: url("img/view_staff_banner.jpg");
    margin-top: 19px;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    text-align: center;
    font-size: 35px;
    line-height: 265%;
}
.table-responsive{
    width: 95%;
    background-color: white;
    margin: 30px auto;
}
.table-responsive h2{
    margin: 15px 5px 5px;
}
thead{
    border-top: 2px solid black;
    border-bottom: 3px solid black;
}
