@charset "utf-8";

.banner_field{
    background-image: url("img/view_appointment_banner.png");
    margin-top: 19px;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    text-align: center;
    font-size: 35px;
    line-height: 265%;
}
.message {
    text-align: center;
}
.edit{
    border-radius: 5px;
    background-color: #F8F5F8;
    padding: 20px;
    box-shadow: 5px 5px 10px #000000;
    box-sizing: content-box;
    width: 50%;
    margin: 30px auto;
}
input[type=text],
select,
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.btn_wrapper{
    text-align: center;
}
input[type=submit]{
    width: 40%;
    font-size: 16px;
    background-color: #017C83;
    color: white;
    padding: 10px 15px;
    margin: 40px 2% 15px 2%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input[type=submit]:hover{
    background-color: #01886f;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
